/*imagen responsiva principal*/
.jumbotron{
    background: url("../img/bgwoman.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    height: 500px;
    padding-left: 10%;
}
.btn-danger{
    background-color: red;
    border-radius: 3%;
    font-size: medium;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
}





/* .bg-cover{
    background: url('https://docencia.unach.cl/imgs/equipodd.jpg') center center;
    background-size: cover;
    color: #fff;
   }
    .titulo1{
     padding-top: 20%;
    }
 */

    /* FIN imagen responsiva principal*/
   