.navbar{
    font-family: Overpass,Overpass,"Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
}
/*COLOR TEXTO menú*/
nav div ul li a{
    color: white;
}
/*Color texto navbar-brand*/
nav a{
    color: white !important;
}